.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 10px;
}

.main img {
    width: 30px;
}

.main h5 {
    width: 90%;
    text-align: start;
}