.slider img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous {
    border: none;
}

.next {
    border: none;
}